{{number}}

<div>
  multiplier: {{input type="number" value=multiplier}}
</div>

<hr />

{{model}}

<button {{action 'reverse'}}>Reverse</button>

<hr  />

<button {{action 'bubble'}}>Bubble</button>
